<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
<body>
    <!-- Background Animation -->
    <div class="bg-animation" id="bgAnimation"></div>

    <div class="container mx-auto px-4 py-12 max-w-md">
        <!-- Profile Section -->
        {{ partial "profile.html" . }}

        <!-- Links Section -->
        {{ partial "link-card.html" . }}

        <!-- Messaging Etiquette section -->
        {{ partial "messaging-etiquette.html" . }}
          
        
        <!-- Embed with hue-shift filter -->
        <!-- style="filter: hue-rotate(150deg) saturate(0.6) brightness(0.9);" -->


        <!-- About Me section (If you want to write about yourself, uncomment the section below) 
        {{ partial "about.html" . }} -->

        <!-- Instructions section (After you're done adding your links, remove or comment the line below) -->
        {{ partial "instructions.html" . }}

        <footer class="text-center text-xs opacity-60">
            © May 2026 | Made with lots of ☕ by 404Rookies
        </footer>
        
    </div>

    <script src="js/script.js"></script>
</body>
</html>
